* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 40%;
}

body {
    font-size: 1.6rem;
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 3.2rem;
}

a {
    color: #000;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

p {
    font-size: 2.5rem;
    font-family: Arial, sans-serif;
}

img {
    width: 100%;
    height: calc(100%, -100px);
    object-fit: cover;
    border: 4px solid blue;
    border-radius: 4px;
}


p {
    text-align: center;
}

div {
    display: block;
    width: 90vw;
    margin: 5px auto;
    padding: 2px;
}

@media (min-width: 772px) {
    html {
        font-size: 52.5%;
    }

    img {
        max-height: 30vh;
    }

    div {
        display: inline-block;
        width: 45vw;
        margin: 5px;
        padding: 2px;
    }
}

@media (min-width: 988px) {
    html {
        font-size: 62.5%;
    }

    div {
        display: inline-block;
        width: 30vw;
        margin: 5px;
        padding: 2px;
    }
}



























/* 
main {
    border: 5px #000 solid;
    margin: 10px;
}
 */
/* 

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
 */
/* img{
    width: 200px;
    height: 200px;
    padding: 5px;
} */

/* .child {
    position: relative;
    display: inline-block;
    border: 5px black solid;
    margin: 5px;
    border-radius: 5px;
} */

/* 

.label {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
} */
/* 
.button {
    display: inline-block;
    border: 2px solid #000;
    padding: 5px;
    border-radius: 25px;
}
 */
/* 
.button:hover {
    background-color:#fff;
} */

/* 
footer {
    display: flex;
    justify-content: center;
} */

/* 
header {
    border-radius: 5px;
    border: 5px #000 solid;
    margin: 10px;
} */

/* 
.label {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
} */
/* 
.child:hover .label {
    display: block;
} */